<!DOCTYPE html>
<html>
<head>
    <title>{{ recipe.strMeal }}</title>
</head>
<body>
    <h1>{{ recipe.strMeal }}</h1>
    <img src="{{ recipe.strMealThumb }}" alt="{{ recipe.strMeal }}">
    <h2>Ingredients:</h2>
    <ul>
        {% for i in range(1, 21) %}
            {% set ingredient = 'strIngredient' ~ i %}
            {% set measure = 'strMeasure' ~ i %}
            {% if recipe[ingredient] %}
                <li>{{ recipe[ingredient] }} - {{ recipe[measure] }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2>Instructions:</h2>
    <p>{{ recipe.strInstructions }}</p>
    <h2>Fun Fact:</h2>
    <p>{{ fact }}</p>
</body>
</html>
